* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: white;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
    z-index: 8;
    display: flex;
    position: fixed;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 60px;
    font-weight: bold;
    margin-left: 0.2%;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 80px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: gray;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

.container {
    display: flex;
    height: 120vh;
}

.sidebar {
    display: flex;
    width: 100%;
    /* background-color: black; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.784), rgba(121, 8, 8, 0.661)), url("./images/bg.jpg");
    color: yellow;
    /* height: 96vh; */
    justify-content: center;
    flex-direction: column;
    /* clip-path: polygon(0 6%,100% 6%,100% 80vh,0 100%); */
}

.cover {
    display: flex;
    width: 100%;
    height: 20vh;
    clip-path: polygon(100% 80vh, 100% 100%, 0 100%);
}

.heading {
    /* background-color:green; */
    display: flex;
    align-items: top;
    margin-left: 25%;
    margin-top: -6%;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveinleft 2s ease-out;
}

@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-280px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(280px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveintop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    60% {
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.content {
    /* background-color: red; */
    display: flex;
    padding: 8%;
    font-size: large;
    margin-left: 17%;
    /* margin-top: 3%; */
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 13px;
    animation: moveinright 4s ease-out;
}

.button {
    display: flex;
    margin-left: 42%;
    padding: 25px 52px;
    text-align: center;
    font-size: 16px;
    background-color: #ea3a60;
    color: yellow;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    animation: moveintop 4s ease-out;
    text-decoration-line: none;

}

.best {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    margin-top: -28px;
    margin-bottom: 1.5%;
    margin-left: 588px;
    color: #007899;
    animation: moveinleft 2s ease-out;
}

.boxes {
    display: flex;
    flex-direction: row;
}
.box1 {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); 
    transition: 0.5s ease-in-out;
    position: relative;
}


.im {
    display: flex;
}

.im1info {
    display: flex;
}

.booktitle1 {
    display: flex;
    text-align: center;
    font-weight: bold;
}

.author1 {
    display: flex;
    text-align: center;
}

.prize1 {
    display: flex;
    text-align: center;
    margin-left: 118px;
}

.button2 {
    background-color: rgb(254, 193, 9);
    display: flex;
    margin-left: 0px;
    padding: 10px 16px;
    text-align: left;
    font-size: 10px;
}

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.header2 {
    margin-top: 28px;
    margin-left: 530px;
    color: #007899;
    animation: moveinleft 2s ease-out;
    text-align: center;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 18%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 49px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    margin-top: 19px;
    margin-left: 194px;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 49px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 19px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title2 {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}

a:visited {
    color: white;
}

.cont {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.reviewimage1 {
    z-index: -1;
    height: 26vh;
    width: 12vw;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg);
}

.banner {
    display: flexbox;
    align-items: center;
    width: 88%;
    margin: 6%;

}

#diff {
    margin-left: 15%;
}

.people {
    display: flex;
    flex-direction: column;
    transform: skewX(-12deg);
}

.blocks {
    padding: 24px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(rgba(93, 13, 13, 0.615), rgba(183, 10, 10, 0.661));
}

.contentreview {
    padding: 50px;
    color: white;
    transform: skewX(12deg);
}

input[type=text],select,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    width: 100%;
    background-image: linear-gradient(rgba(93, 13, 13, 0.615), rgba(183, 10, 10, 0.661));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    
}

input[type=submit]:hover {
    background-image:rgb(241, 227, 227);
}

.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    width: 100%;
    float: left;
    margin-top: 6px;
}

.col-75 {
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.form-heading{
    text-align: center;
    margin-top: 1%;
    color: #00B4CC;
    margin-top: 3%;
}